In [1]:
import random

# Ejercicio 1

In [44]:
meses_trimestres = [["Enero", "Febrero", "Marzo"], ["Abril", "Mayo", "Junio"], ["Julio", "Agosto", "Septiembre"], ["Octubre", "Noviembre", "Diciembre"]]

# Ejercicio 2

In [45]:
print ((meses_trimestres[0])[1])
print (meses_trimestres[0])
print (((meses_trimestres[2])[2]) + ", " + ((meses_trimestres[3])[0]))

Febrero
['Enero', 'Febrero', 'Marzo']
Septiembre, Octubre

# Ejercicio 3

In [4]:
nd = [random.randint(1, 10) for _ in range(10)]

In [5]:
print (nd)

[9, 4, 6, 7, 8, 2, 1, 7, 1, 6]

In [12]:
print ("La cantidad de veces que aparece el número 3 son",nd.count (3))

La cantidad de veces que aparece el número 3 son 0

In [14]:
print ("La cantidad de veces que aparece el número 3 es/son",nd.count (3), "y 4 es/son",nd.count (4))

La cantidad de veces que aparece el número 3 es/son 0 y 4 es/son 1

In [17]:
print ("El mayor número es",max(nd))

El mayor número es 9

In [18]:
cnd = nd[:]

In [19]:
tres = []

In [20]:
for _ in range(3):
    mini = min(cnd)
    tres.append(mini)
    cnd.remove(mini)

In [21]:
print("Los tres números más pequeños son:", tres)

Los tres números más pequeños son: [1, 1, 2]

In [46]:
num = max(nd) - min(nd)

In [47]:
print ("El rango es ",(num))

El rango es  8

In [6]:
x = len(nd)

In [16]:
print ("La cantidad de elementos en la lista es de",(x))

La cantidad de elementos en la lista es de 10

# Ejercicio 4

In [28]:
compra = { "Pomes" : {"Qty": 5, "€": 0.42}, "Peres" : {"Qty": 3, "€": 0.66} }

In [30]:
print (compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}}

In [33]:
compra["Pinya"] = {"Qty": 5, "€": 0.42}

In [36]:
print (compra)

{'Pomes': {'Qty': 5, '€': 0.42}, 'Peres': {'Qty': 3, '€': 0.66}, 'Pinya': {'Qty': 5, '€': 0.42}}

In [40]:
print("El precio total de las Peras es:", compra["Peres"]["Qty"]*compra["Peres"]["€"])

El precio total de las Peras es: 1.98

In [48]:
cantidades = [fruta["Qty"] for fruta in compra.values()]

In [50]:
print ("Hemos comprado",sum(cantidades), "frutas")

Hemos comprado 13 frutas

In [43]:
def precio_unitario(fruta):
    return float(fruta["€"])

fruta_mas_cara = max(compra, key=lambda fruta: precio_unitario(compra[fruta]))

print("La fruta más cara es:", fruta_mas_cara)

La fruta más cara es: Peres